div.manual {
    width:800px;
}

#description {
    font-size:12px;
    font-weight:normal;
}

#container {
    display: table;
}

#player_row  {
    display: table-row;
}

#player_left {
	float:left;/*fix for  buggy browsers*/
    display: table-cell;
    width:460px;
    height:360px;
}

#player_right {
	float:left;/*fix for  buggy browsers*/
    display: table-cell;
    width:150px;
    height:360px;
    text-align:center;
}

#templateText {
	width: 600px;
	height: 465px;
}

#companion {
    width:150px;
    height:360px;
    border:2px solid #999999;
    text-align: center;
    line-height: 120px;
    font-family: arial;
    font-weight: light;
    font-size: 12px;
}

p.example {
    width:800px;
}
.codebox {
    width:800px;
    border:2px solid #999999;
    font-size: 11px;
    background-color:#f8f8ff;
    padding-left: 10px;
}
